<?xml version="1.0" encoding="UTF-8"?>

<persistence>

	<persistence-unit name="MapViewer">
		
		<jta-data-source>java:/PostgreSQLDS</jta-data-source>
		
		<properties>
			<property name="hibernate.dialect"
				value="org.hibernate.dialect.PostgreSQLDialect"/>
		</properties>

	</persistence-unit>

</persistence>
